/garbages/
*.code-workspace
/Versionning_local/
# Ignore README files (prevent adding simple README.md / README.txt)
README.md
README.txt
**/README.md
**/README.txt
/Repo/
.gitlab/
.git/
.gitmodules
.venv/
__pycache__/
*.pyc